.PreProduct{
    text-align: center;
    background:#FFF;
}

.PreProduct ul li span{
    width:100px;
    text-align:center;
    vertical-align: middle; 
    font: 14px Verdana, 'Lucida Grande';
    color: #000;
    padding-right: 5px;
    line-height: 14px;
    display: inline-block;
}

.PostProduct{
    text-align: center;
    background:#FFF;
}


.PostProduct ul li span{
    width:100px;
    text-align:center;
    vertical-align: middle; 
    font: 12px Verdana, 'Lucida Grande';
    color: #777;
    padding-right: 5px;
    line-height: 14px;
    display: inline-block;
}


.PostProduct select{
    width:70px;
    color:#1ABC9C;
    background:#FFF; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


.PostProduct input{
    width:75px;
    text-align:center;
}

.PostProduct button{
    width:40px;
    color:#777;
    background:#FFF; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}
/*END -> ShowAndModifyMemberBrandData.ejs*/
.date{
    margin-top:20px;
    margin-left:40px;
}

.date select{
    width:100px;
    text-align:center;
    background:#FFF;border:1 none; 
}

.date button{
    width:100px;
    background:#000;border:1 none;
    color:white;
    text-align:center;
}
/*menu style*/