<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AddNewIncomeAndExpenditure</title>
</head>
<body>
	<form action="/" method="GET">
				<button type="submit">返回老闆權限</button>
	</form> 
	<br>
	<form action="/AddIncomeAndExpenditure/" method="POST">
		<% 
			var currentTime = new Date();
			var year = currentTime.getFullYear();
			var month = ((currentTime.getMonth() + 1) < 10) ? '0' + (currentTime.getMonth() + 1) : (currentTime.getMonth() + 1);
			var day = currentTime.getDate()
		%>
		<input type="text" placeholder="" name="year" value=<%= year %> size="4">年	
		<input type="text" placeholder="" name="month" value=<%= month %> size="2">	月
		<input type="text" placeholder="" name="day" value=<%= day %> size="2">	日
		
		項目名稱<input type="text" placeholder="itemname" name="itemname" value="">
		項目分類 <select name="itemclass">
			<option value="收入">收入</option><option value="支出">支出</option>
		</select>
		項目子類 <select name="itemsubclass">
			<option value="營收">營收</option><option value="餐費">餐費</option>
			<option value="原物料">原物料</option><option value="雜項">雜項</option>
		</select>
		<button type="submit">新增</button>
	</form>
</body>
</html>