<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AddProductPartialTag</title>
</head>
<body>

	<form action="/AddProductPartialTagInStock/" method="POST">
	<br>店名<input type="text" placeholder="食鍋藝" name="brandname" value="食鍋藝">
	<br>入庫產品名稱<input type="text" placeholder="" name="productname" value="">
	<br>入庫產品標籤<input type="text" placeholder="" name="producttag" value="">
	<br>產品大分類 <select name="class">
		<option value="肉類">肉類</option><option value="海鮮">海鮮</option>
	</select>
	<br>產品子分類 <select name="subclass">
		<option value="牛肉">牛肉</option><option value="豬肉">豬肉</option>
		<option value="雞肉">雞肉</option><option value="羊肉">羊肉</option>
		<option value="和牛">和牛</option>
		<option value="蝦類">蝦類</option><option value="貝類">貝類</option>
		<option value="蟹類">蟹類</option><option value="魚類">魚類</option>
	</select>
	<br>產品等級 <select name="grade">
		<option value="Prime">Prime</option><option value="Choice">Choice</option>
		<option value="Normal">Normal</option><option value="9plus">9plus</option>
		<option value="Japan">Japan</option>
	</select>
	<br>
	<button type="submit">新增</button>
	</form>
	<br>
	<form action="/" method="GET">
				<button type="submit">返回老闆權限</button>
	</form>
</body>
</html>