<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AddProductPartialTag</title>
  <link href="/css/StockInAndOut/style.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>
<body>

<header>
     <% include ./html.ejs %>
</header>

<div class="form-style-8">
  <h2>添加庫存標籤</h2>
  <form action="/AddProductPartialTagInStock/" method="POST" onSubmit="return check()">
    <input type="text" name="brandname" placeholder="品牌名稱" />
    <input type="text" name="productname" placeholder="入庫產品名稱" />
    <input type="text" name="producttag" placeholder="入庫產品標籤" />
    <select name="class" placeholder="產品大分類">
		<option value="肉類">肉類</option><option value="海鮮">海鮮</option><option value="火鍋料">火鍋料</option>
	</select>
	<select name="subclass" placeholder="產品子分類">
		<option value="牛肉">牛肉</option><option value="豬肉">豬肉</option>
		<option value="雞肉">雞肉</option><option value="羊肉">羊肉</option>
		<option value="和牛">和牛</option>
		<option value="蝦類">蝦類</option><option value="貝類">貝類</option>
		<option value="蟹類">蟹類</option><option value="魚類">魚類</option>
	</select>
	<select name="grade" placeholder="產品等級">
		<option value="Prime">Prime</option><option value="Choice">Choice</option>
		<option value="Normal">Normal</option><option value="9plus">9plus</option>
		<option value="Japan">Japan</option>
	</select>
    <input type="submit" value="新增庫存標籤" />
  </form>
</div>
<script>
function check() {
  	if(document.forms[0].brandname.value=="") {
		alert("未輸入品牌名稱");
		return false;
	}else if(document.forms[0].productname.value=="") {
		alert("未輸入入庫產品名稱");
		return false;
	}else if(document.forms[0].producttag.value=="") {
		alert("未輸入入庫產品標籤");
		return false;
	}
	// var re = /\s|[　]/g;  //[]裡面是一個全型空白
	// if(re.test(document.forms[0].t1.value)) {
	// 	alert("不能含有全型及半型的空白");
	// 	return false;
	// }
}
</script>
</body>
</html>