<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>確認各品項數量</title>
 <link href="/css/StockInAndOut/checkstockineachproductnumber.css" rel="stylesheet" type="text/css">
</head>
<body>

<header>
     <% include ./html.ejs %>
</header>

<br>
<table style="width:70%" align="center" border="1px solid black">
	<tr>
	<th >產品名稱</th>
	<th >產品數量</th>
	<th >警示數量</th>	
	</tr>
<% for(var i=0; i<passvariable.product.length; i++) {%>
	<tr>
	<th><%= passvariable.product[i].name%></th>
	<% if(passvariable.product[i].number < passvariable.product[i].alarm){%>
	<th bgcolor="red"><%= passvariable.product[i].number %></th>
	<% }else{%>
	<th><%= passvariable.product[i].number %></th>
	<% }%>
	<th><%= passvariable.product[i].alarm%></th>	
	</tr>
<% } %>

</body>
</html>
