<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Plan_Work_Schedule_CheckEmployeeWorkScheduleByGroup</title>
</head>
<body>

	<form action="/Plan_Work_Schedule_CheckEmployeeWorkScheduleByGroup/" method="POST">

		<select name="checkPeriodYear">
			<option value="2016">2016</option><option selected value="2017">2017</option>
		</select>
		年
		<select name="checkPeriodMonth">
			<option value="01">1</option><option  value="02">2</option>
			<option value="03">3</option><option  value="04">4</option>
			<option value="05">5</option><option  value="06">6</option>
			<option value="07">7</option><option  value="08">8</option>
			<option selected value="09">9</option><option  value="10">10</option>
			<option value="11">11</option><option  value="12">12</option>
		</select>
		月

		<button type="submit">查詢班表</button>
	</form>	 
	<br>
	<form action="/" method="GET">
				<button type="submit">返回老闆權限</button>
	</form> 
	<br>
	<table border='1'>
	<tbody>
	      <td> 員工姓名 </td>
	      <td> 上班時刻 </td>  
	<%  for(var i=0; i<WorkSchedule.length; i++) {%>
		<% var index = i+1%>
		<%	if(WorkSchedule[i]!=''){%>
		<tr>
		      <td><%= MonthPass %>/<%= index %></td><td><%= WorkSchedule[i] %></td>
		</tr>
		<% } %>
	<% } %>
	</tbody>
	</table>
</body>
</html>