<!DOCTYPE html>
<html lang="en">
<head>
  <style type="text/css">
  	button {
  		width:500px;
  		height:300px;
  		font-size:100px;
    	color: white;
    	background-color: #C0C0C0;
    }
    .autocenter{
		margin-left: 200px;
		margin-top: 200px;    	
    }
  </style>
</head>
<body>
	<div class='autocenter'>
		<form action="/StockInCheck/" method="GET">
		<input type="hidden" name="checkthing" value=<%= passvariable%>>
					<button type="submit">確認</button>
		</form>	
	</div>	
</body>
</html>