
#test-list-item {
    font-weight: 700;
    color: #777;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#test-list-item:not(:first-child ), .forum-question, .sidebar-section:not(:last-child) {
    border-bottom: 1px solid #777;
    font: 12px Verdana, 'Lucida Grande';
    
}

#position:first-child{
    width:120px;
    text-align:center;
    vertical-align: middle; 
    font: 12px Verdana, 'Lucida Grande';
    color: #777;
    padding-right: 1px;
    text-align:center;
    line-height: 12px;
}

#position{
    width:50px;
    text-align:center;
    vertical-align: middle; 
    font: 12px Verdana, 'Lucida Grande';
    color: #777;
    padding-right: 5px;
    text-align:center;
    line-height: 12px;
}

#position:last-child {
    width:230px;
    text-align:center;
    vertical-align: middle; 
    font: 12px Verdana, 'Lucida Grande';
    color: #777;
    padding-right: 5px;
    text-align:center;
    line-height: 12px;
}

#position:last-child select{
    width:70px;
    color:#1ABC9C;
    background:#FFF; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#position:last-child input{
    width:80px;
    text-align:center;
}

#position:last-child button{
    width:40px;
    color:#777;
    background:#FFF; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

.table{
    background:#FFF;
}

.table ul li{
    font: 12px Verdana, 'Lucida Grande';
    font-weight: 700;
    color: #777;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.table ul li span:first-child{
    width:120px;
    text-align:center;
    vertical-align: middle; 
    font: 12px Verdana, 'Lucida Grande';
    color: #777;
    padding-right: 1px;
    line-height: 12px;
}

.table ul li span{
    width:50px;
    text-align:center;
    vertical-align: middle; 
    font: 12px Verdana, 'Lucida Grande';
    color: #777;
    padding-right: 5px;
    line-height: 12px;
}

.table ul li span:last-child{
    width:230;
    text-align:right;
    vertical-align: middle; 
    font: 12px Verdana, 'Lucida Grande';
    color: #777;
    padding-right: 1px;
    line-height: 12px;
}

