
.PreCheckWorkSchedule{
    background:#FFF;
    margin-top: 20px;
    margin-bottom: 12px;
    text-align: center;

}

.PreCheckWorkSchedule ul li span{
    width:100px;
    text-align:center;
    vertical-align: middle; 
    font: 14px Verdana, 'Lucida Grande';
    color: #000;
    padding-right: 5px;
    line-height: 12px;
    display: inline-block;
}

.PostCheckWorkSchedule{
    text-align: center;
    background:#FFF;
}


.PostCheckWorkSchedule ul li span{
    width:100px;
    text-align:center;
    vertical-align: middle; 
    font: 12px Verdana, 'Lucida Grande';
    color: #777;
    padding-right: 5px;
    line-height: 24px;
    display: inline-block;
}


.PostCheckWorkSchedule select{
    width:70px;
    color:#1ABC9C;
    background:#FFF; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


.PostCheckWorkSchedule input{
    width:75px;
    text-align:center;
}

.PostCheckWorkSchedule button{
    width:40px;
    color:#777;
    background:#FFF; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 1px;
}

.CheckWorkSchedule{
    margin-top:20px;
    margin-left:40px;
    text-align: center;
}

.CheckWorkSchedule select{
    width:100px;
    text-align:center;
    background:#FFF;border:1 none; 
    display: inline-block;
}

.CheckWorkSchedule button{
    width:100px;
    background:#000;border:1 none;
    color:white;
    text-align:center;
    display: inline-block;
}
